source/OdfConverterTest/resources/ooxschemas/vml-spreadsheetDrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:schemas-microsoft-com:office:excel" xmlns="urn:schemas-microsoft-com:office:excel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:element name="ClientData" type="CT_ClientData">
    <xsd:annotation>
      <xsd:documentation>Spreadsheet Data</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_ClientData">
    <xsd:sequence>
      <xsd:element name="MoveWithCells" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>Move with Cells</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SizeWithCells" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>Resize with Cells</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Anchor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Anchor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Locked" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>Lock Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultSize" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Default Size Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrintObject" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>Print Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Disabled" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Macro Disable Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UIObj" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>UI Object Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecalcAlways" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Recalculation Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AutoFill" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>AutoFill</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AutoLine" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>AutoLine</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FmlaMacro" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Attached Macro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TextHAlign" type="xsd:string" default="Left">
        <xsd:annotation>
          <xsd:documentation>Horizontal Text Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TextVAlign" type="xsd:string" default="Top">
        <xsd:annotation>
          <xsd:documentation>Vertical Text Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LockText" type="ST_TrueFalse" default="True">
        <xsd:annotation>
          <xsd:documentation>Text Lock</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="JustLastX" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Far East Alignment Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SecretEdit" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Password Edit</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fmla" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Default" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Default Button</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Help" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Help Button</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cancel" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Cancel Button</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dismiss" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Dismiss Button</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Accel" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Primary Keyboard Accelerator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Accel2" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Secondary Keyboard Accelerator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AutoScale" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>AutoScale</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Row" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Comment Row Target</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Column" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Comment Column Target</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Visible" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Comment Visibility Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RowHidden" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Hide Comments in Row</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ColHidden" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Hide Comments in Column</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VtEdit" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Validation Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MultiLine" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Multi-line</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VScroll" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Vertical Scroll</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValidIds" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Valid ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FmlaRange" type="xsd:string"></xsd:element>
      <xsd:element name="WidthMin" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Minimum Width</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sel" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Selected Entry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NoThreeD2" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Disable 3D</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Selection Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MultiSel" type="xsd:string" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Multiple Selections</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Lct" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Callback Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ListItem" type="xsd:string" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>List Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DropStyle" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dropdown Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Colored" type="ST_TrueFalse" default="False">
        <xsd:annotation>
          <xsd:documentation>Dropdown Color Toggle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DropLines" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Dropdown Maximum Lines</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Checked" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Checked</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FmlaLink" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Linked Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NoThreeD" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Disable 3D</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstButton" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>First Radio Button</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FmlaGroup" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Linked Formula - Group Box</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Val" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll bar position</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Min" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Minimum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Max" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Maximum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Inc" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Increment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Page" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Page Increment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Horiz" type="ST_TrueFalse">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Orientation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dx" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Scroll Bar Width</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="objectType" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Object type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_TrueFalse">
    <xsd:annotation>
      <xsd:documentation>Binary Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="True">
        <xsd:annotation>
          <xsd:documentation>True</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="False">
        <xsd:annotation>
          <xsd:documentation>False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>