source/Shell/OdfConverterTest/resources/ooxschemas/vml-officeDrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:schemas-microsoft-com:office:office" xmlns="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships">
  <xsd:import namespace="urn:schemas-microsoft-com:vml" schemaLocation="vml-main.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationshipReference.xsd" />
  <xsd:attribute name="bwmode" type="ST_BWMode" />
  <xsd:attribute name="bwpure" type="ST_BWMode" />
  <xsd:attribute name="bwnormal" type="ST_BWMode" />
  <xsd:attribute name="targetscreensize" type="ST_ScreenSize" />
  <xsd:attribute name="insetmode" type="ST_InsetMode" default="custom" />
  <xsd:attribute name="spt" type="xsd:float" />
  <xsd:attribute name="wrapcoords" type="xsd:string" />
  <xsd:attribute name="oned" type="ST_TrueFalse" />
  <xsd:attribute name="regroupid" type="xsd:integer" />
  <xsd:attribute name="doubleclicknotify" type="ST_TrueFalse" />
  <xsd:attribute name="ruleinitiator" type="ST_TrueFalse" />
  <xsd:attribute name="ruleproxy" type="ST_TrueFalse" />
  <xsd:attribute name="connectortype" type="ST_ConnectorType" default="straight" />
  <xsd:attribute name="button" type="ST_TrueFalse" />
  <xsd:attribute name="userhidden" type="ST_TrueFalse" />
  <xsd:attribute name="forcedash" type="ST_TrueFalse" />
  <xsd:attribute name="oleicon" type="ST_TrueFalse" />
  <xsd:attribute name="ole" type="ST_TrueFalse" />
  <xsd:attribute name="preferrelative" type="ST_TrueFalse" />
  <xsd:attribute name="bullet" type="ST_TrueFalse" />
  <xsd:attribute name="hr" type="ST_TrueFalse" />
  <xsd:attribute name="hrstd" type="ST_TrueFalse" />
  <xsd:attribute name="hrnoshade" type="ST_TrueFalse" />
  <xsd:attribute name="hrheight" type="xsd:float" />
  <xsd:attribute name="hrwidth" type="xsd:float" />
  <xsd:attribute name="hrpct" type="xsd:float" />
  <xsd:attribute name="hralign" type="ST_HrAlign" default="left" />
  <xsd:attribute name="relativeposition" type="xsd:string" />
  <xsd:attribute name="allowincell" type="ST_TrueFalse" />
  <xsd:attribute name="allowoverlap" type="ST_TrueFalse" />
  <xsd:attribute name="userdrawn" type="ST_TrueFalse" />
  <xsd:attribute name="tableproperties" type="xsd:int" />
  <xsd:attribute name="tablelimits" type="xsd:string" />
  <xsd:attribute name="bordertopcolor" type="ST_ColorType" />
  <xsd:attribute name="borderleftcolor" type="ST_ColorType" />
  <xsd:attribute name="borderbottomcolor" type="ST_ColorType" />
  <xsd:attribute name="borderrightcolor" type="ST_ColorType" />
  <xsd:attribute name="connecttype" type="ST_ConnectType" />
  <xsd:attribute name="connectlocs" type="xsd:string" />
  <xsd:attribute name="connectangles" type="xsd:string" />
  <xsd:attribute name="master" type="xsd:string" />
  <xsd:attribute name="extrusionok" type="ST_TrueFalse" />
  <xsd:attribute name="href" type="xsd:string" />
  <xsd:attribute name="althref" type="xsd:string" />
  <xsd:attribute name="title" type="xsd:string" />
  <xsd:attribute name="singleclick" type="ST_TrueFalse" />
  <xsd:attribute name="oleid" type="xsd:float" />
  <xsd:attribute name="detectmouseclick" type="ST_TrueFalse" />
  <xsd:attribute name="movie" type="xsd:float" />
  <xsd:attribute name="spid" type="xsd:string" />
  <xsd:attribute name="opacity2" type="xsd:integer" />
  <xsd:element name="shapedefaults" type="CT_ShapeDefaults">
    <xsd:annotation>
      <xsd:documentation>New Shape Defaults</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="shapelayout" type="CT_ShapeLayout">
    <xsd:annotation>
      <xsd:documentation>Shape Layout Properties</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="signatureline" type="CT_SignatureLine" />
  <xsd:element name="ink" type="CT_Ink" />
  <xsd:complexType name="CT_ShapeDefaults">
    <xsd:sequence>
      <xsd:element ref="v:fill" minOccurs="0" />
      <xsd:element ref="v:stroke" minOccurs="0" />
      <xsd:element ref="v:textbox" minOccurs="0" />
      <xsd:element ref="v:shadow" minOccurs="0" />
      <xsd:element ref="skew" minOccurs="0" />
      <xsd:element ref="extrusion" minOccurs="0" />
      <xsd:element ref="callout" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Callout</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="lock" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shape Protections</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="spidmax" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Highest spid used</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fillcolor" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Default fill color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Ink">
    <xsd:sequence></xsd:sequence>
    <xsd:attribute name="i" type="xsd:base64Binary" />
    <xsd:attribute name="annotation" type="ST_TrueFalse" />
  </xsd:complexType>
  <xsd:complexType name="CT_SignatureLine">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="issignatureline" type="ST_TrueFalse" />
    <xsd:attribute name="id" type="ST_Guid" />
    <xsd:attribute name="provid" type="ST_Guid" />
    <xsd:attribute name="signinginstructionsset" type="ST_TrueFalse" />
    <xsd:attribute name="allowcomments" type="ST_TrueFalse" />
    <xsd:attribute name="showsigndate" type="ST_TrueFalse" />
    <xsd:attribute name="suggestedsigner" type="xsd:string" />
    <xsd:attribute name="suggestedsigner2" type="xsd:string" />
    <xsd:attribute name="suggestedsigneremail" type="xsd:string" />
    <xsd:attribute name="signinginstructions" type="xsd:string" />
    <xsd:attribute name="addlxml" type="xsd:string" />
    <xsd:attribute name="sigprovurl" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="CT_ShapeLayout">
    <xsd:all>
      <xsd:element name="idmap" type="CT_IdMap" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ID Map</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regrouptable" type="CT_RegroupTable" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shape Grouping History</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rules" type="CT_Rules" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Rule Set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_IdMap">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="data" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape IDs</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RegroupTable">
    <xsd:sequence>
      <xsd:element name="entry" type="CT_Entry" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Regroup Entry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_Entry">
    <xsd:attribute name="new" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>New group ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="old" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old group ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Rules">
    <xsd:sequence>
      <xsd:element name="r" type="CT_R" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_R">
    <xsd:sequence>
      <xsd:element name="proxy" type="CT_Proxy" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Shape Reference</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Rule ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="ST_RType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rule type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="how" type="ST_How" use="optional">
      <xsd:annotation>
        <xsd:documentation>Alignment rule type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rule shape reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Proxy">
    <xsd:attribute name="start" type="ST_TrueFalse" use="optional" default="f">
      <xsd:annotation>
        <xsd:documentation>Start point connection flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="end" type="ST_TrueFalse" use="optional" default="f">
      <xsd:annotation>
        <xsd:documentation>End point connection flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Proxy shape reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="connectloc" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Connection location</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="skew" type="CT_Skew">
    <xsd:annotation>
      <xsd:documentation>Skew Transform</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="extrusion" type="CT_Extrusion">
    <xsd:annotation>
      <xsd:documentation>3D Extrusion</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="callout" type="CT_Callout" />
  <xsd:element name="lock" type="CT_Lock" />
  <xsd:element name="OLEObject" type="CT_OLEObject">
    <xsd:annotation>
      <xsd:documentation>Embedded OLE Object</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="complex" type="CT_Complex">
    <xsd:annotation>
      <xsd:documentation>Complex</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Skew">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="id" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="offset" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew offset</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="origin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew origin</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="matrix" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew perspective matrix</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Extrusion">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="ST_ExtrusionType" default="parallel" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="render" type="ST_ExtrusionRender" default="solid" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion render mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="viewpointorigin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion viewpoint origin</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="viewpoint" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion viewpoint</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="plane" type="ST_ExtrusionPlane" default="XY" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion direction</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="skewangle" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion skew angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="skewamt" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion skew</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="foredepth" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Forward extrusion</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="backdepth" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Backward extrusion depth</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="orientation" type="xsd:string" use="optional" />
    <xsd:attribute name="orientationangle" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lockrotationcenter" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autorotationcenter" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Center of rotation toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotationcenter" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation center</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotationangle" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="colormode" type="ST_ColorMode" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion color mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="color" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shininess" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shininess</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="specularity" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Specularity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="diffusity" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diffuse reflection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="metal" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Metallic surface toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="edge" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Simulated bevel</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="facet" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Faceting quality</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightface" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape face lighting toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="brightness" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Brightness</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightposition" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary light position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightlevel" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary light intensity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightharsh" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary light harshness toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightposition2" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary light position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightlevel2" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary light intensity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightharsh2" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary light harshness toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Callout">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="gap" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout gap</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="angle" type="ST_Angle" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dropauto" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout automatic drop toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="drop" type="ST_CalloutDrop" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout drop position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="distance" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout drop distance</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lengthspecified" type="ST_TrueFalse" default="f" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout length toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="length" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="accentbar" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout accent bar toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="textborder" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout text border toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minusx" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout flip x</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minusy" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout flip y</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Lock">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="position" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Position lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="selection" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Selection lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="grouping" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Grouping lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotation" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cropping" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Cropping lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="verticies" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Vertices lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="adjusthandles" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Handles lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="text" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Text lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="aspectratio" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Aspect ratio lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shapetype" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>AutoShape type lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_OLEObject">
    <xsd:sequence>
      <xsd:element name="FieldCodes" type="xsd:string" minOccurs="0" />
      <xsd:element name="LinkType" type="ST_OLELinkType" minOccurs="0" />
      <xsd:element name="LockedField" type="ST_TrueFalse" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="Type" type="ST_OLEType" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE object type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ProgID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE object application</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ShapeID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE object shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="DrawAspect" type="ST_OLEDrawAspect" use="optional" />
    <xsd:attribute name="ObjectID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE object unique ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="optional">
      <xsd:annotation>
        <xsd:documentation>Relationship</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="UpdateMode" type="ST_OLEUpdateMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="CT_Complex">
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:simpleType name="ST_RType">
    <xsd:annotation>
      <xsd:documentation>Rule Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="arc">
        <xsd:annotation>
          <xsd:documentation>Arc rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="callout">
        <xsd:annotation>
          <xsd:documentation>Callout rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="connector">
        <xsd:annotation>
          <xsd:documentation>Connector rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="align" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_How">
    <xsd:annotation>
      <xsd:documentation>Alignment Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
        <xsd:annotation>
          <xsd:documentation>Top alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="middle">
        <xsd:annotation>
          <xsd:documentation>Middle alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
        <xsd:annotation>
          <xsd:documentation>Bottom alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="left">
        <xsd:annotation>
          <xsd:documentation>Left alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center" />
      <xsd:enumeration value="right">
        <xsd:annotation>
          <xsd:documentation>Right alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_BWMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="color" />
      <xsd:enumeration value="auto" />
      <xsd:enumeration value="grayscale" />
      <xsd:enumeration value="lightGrayscale" />
      <xsd:enumeration value="inverseGray" />
      <xsd:enumeration value="grayOutline" />
      <xsd:enumeration value="highContrast" />
      <xsd:enumeration value="black" />
      <xsd:enumeration value="white" />
      <xsd:enumeration value="hide" />
      <xsd:enumeration value="numModes" />
      <xsd:enumeration value="undrawn" />
      <xsd:enumeration value="blackTextAndLines" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ScreenSize">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="544,376" />
      <xsd:enumeration value="640,480" />
      <xsd:enumeration value="720,512" />
      <xsd:enumeration value="800,600" />
      <xsd:enumeration value="1024,768" />
      <xsd:enumeration value="1152,862" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_InsetMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="auto" />
      <xsd:enumeration value="custom" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ColorMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="auto" />
      <xsd:enumeration value="custom" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ColorType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionType">
    <xsd:annotation>
      <xsd:documentation>Extrusion Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="perspective">
        <xsd:annotation>
          <xsd:documentation>Perspective projection</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="parallel">
        <xsd:annotation>
          <xsd:documentation>Parallel projection</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionRender">
    <xsd:annotation>
      <xsd:documentation>Extrusion Render Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="solid">
        <xsd:annotation>
          <xsd:documentation>Solid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="wireFrame">
        <xsd:annotation>
          <xsd:documentation>Wireframe</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="boundingCube">
        <xsd:annotation>
          <xsd:documentation>Bounding cube</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionPlane">
    <xsd:annotation>
      <xsd:documentation>Extrusion Plane</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="XY">
        <xsd:annotation>
          <xsd:documentation>xy plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZX">
        <xsd:annotation>
          <xsd:documentation>zx plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YZ">
        <xsd:annotation>
          <xsd:documentation>yz plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Angle">
    <xsd:annotation>
      <xsd:documentation>Callout Angles</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="any">
        <xsd:annotation>
          <xsd:documentation>Any angle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="30" />
      <xsd:enumeration value="45">
        <xsd:annotation>
          <xsd:documentation>45 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="60">
        <xsd:annotation>
          <xsd:documentation>60 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="90">
        <xsd:annotation>
          <xsd:documentation>90 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Automatic angle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_CalloutDrop">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_CalloutPlacement">
    <xsd:annotation>
      <xsd:documentation>Callout Placement</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
        <xsd:annotation>
          <xsd:documentation>Top placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Center placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
        <xsd:annotation>
          <xsd:documentation>Bottom placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="user">
        <xsd:annotation>
          <xsd:documentation>User-defined placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ConnectorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="straight" />
      <xsd:enumeration value="elbow" />
      <xsd:enumeration value="curved" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_HrAlign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left" />
      <xsd:enumeration value="right" />
      <xsd:enumeration value="center" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ConnectType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="rect" />
      <xsd:enumeration value="segments" />
      <xsd:enumeration value="custom" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLELinkType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Picture" />
      <xsd:enumeration value="Bitmap" />
      <xsd:enumeration value="EnhancedMetaFile" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Embed" />
      <xsd:enumeration value="Link" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEDrawAspect">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Content" />
      <xsd:enumeration value="Icon" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEUpdateMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Always" />
      <xsd:enumeration value="OnCall" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Guid">
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="\{[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_TrueFalse">
    <xsd:annotation>
      <xsd:documentation>Binary Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="t" />
      <xsd:enumeration value="f" />
      <xsd:enumeration value="true" />
      <xsd:enumeration value="false" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>